/*SVG Animation*/
svg path,
svg rect{
  fill: black;
}


/* Animaciones */
.animated {
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.item-inside__meta {
    background-color: #d9dce0;
    padding: 20px;
    
  }

  .ae-u-bolder{
      padding-right: 10px;
  }


